.m-base-page {
    body {
        background: #F1F5F8;
    }

    .m-layout {
        height: 100vh;
        background: #F1F5F8 !important;

        .logo {
            height: 44px;
            margin: 10px 16px;
            background: url('/image/logo.png') no-repeat center;
            background-size: contain;
        }

        .trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color 0.3s;
        }

        .trigger:hover {
            color: #143EF5;
        }

        .ant-layout-sider-dark {
            background: var(--sider-color);
        }

        .m-sider-menu {
            margin: 0 0 0 10px;

            &__item {
                background-color: #0846C4;
                border-radius: 10px;
                height: 70px;
                margin-right: 10px;
                margin-bottom: 10px;
                text-align: center;
                color: #FFF;
                font-size: 13px;
                box-sizing: border-box;
                padding: 10px;
                font-weight: 500;
                cursor: pointer;
                display: block;

                .anticon {
                    font-size: 26px !important;
                }

                &:hover {
                    background-color: #00349B;
                    color: #FFF;
                }

                &.active {
                    background-color: #FEFEFE;
                    border-radius: 10px 0 0 10px;
                    margin-right: 0;
                    color: #000;
                    font-weight: bold;
                }
            }
        }

        .m-layout-right {}

        .m-layout-header {
            background: #FFF !important;
            padding: 0;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.48);
            -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.48);
            -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.48);
            border-bottom: 1px solid #EDF0F0;

            .top-search-bar{
                width: 300px;
                margin-top: 15px;
            }

            .m-user-menu {
                float: right;
                height: 100%;
                padding-right: 15px;
            }
        }

        .m-sub-menu {
            width: 100%;

            &__item {
                height: 50px;
                line-height: 50px;
                padding: 0 10px 0 25px;
                font-size: 15px;
                cursor: pointer;

                span {
                    margin-left: 3px;
                }
            }

            &__item:hover {
                background-color: #EDF5FF;
            }

            &__item.active {
                background-color: #D8E5FF;
                font-weight: bold;
            }
        }

        .m-layout-main {
            overflow-x: hidden;
            overflow-y: auto;
            background: #F1F5F8 !important;

            .m-layout-content {}
        }
    }

    .page-main {
        margin: 20px;
        min-height: 100%;
    }
}